.list-group{
    color: rgb(120, 3, 13);
}

.jumbotron{
    width:100%;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
}

.btn{
    margin-top: 30px;
    border-radius: 250px;
}
.btn :hover{
    background-color: brown;
}